@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Audiowide", sans-serif;
  --color-primary: 96, 84, 153;
  --color-secondary-300: 35, 41, 43;
  --color-secondary: 45, 50, 55;
  --color-text: 248, 242, 246;
  --color-contrast-muted: 221, 240, 238;
  --color-contrast: 34, 193, 153;

  background: radial-gradient(30% 50% at 50% 50%, #60549980, #201c33 70.69%);
  color: rgb(var(--color-text));
}

html {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
